* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.parent {
    position: fixed;
    top: 0;
}

#left {
    left: 0;
    height: 100%;
    width: 375px;
}

#right {
    background: url('assets/shopping-bag-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    height: 100%;
    width: calc(100% - 375px);
    -webkit-box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.5);
}

#fieldholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.field {
    margin: 5px;
    width: 100%;
}

#fieldscaffolding {
    font-size: 20;
    font-weight: 600;
    width: 100%;
}

td {
    padding-left: 22.5px;
    padding-right: 22.5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 7.5px;
    padding-left: 12.5px;
    font-size: 17.5;
}

#title {
    font-family: 'Parisienne', cursive;
    font-size: 45px;

}

#header {
    position: absolute;
    top: 50;
}

#submitbtn {
    margin-top: 30px;
    padding: 10px;
}

input[type=submit] {
    font-size: 20px;
    height: 40px;
    width: 100px;
}

#prompt {
    width: 85%;
}

h1 {
    font-size: 20px;
    font-weight: 100;
    opacity: 0.5;
    overflow: hidden;
    text-align: center;
}

h1:before, h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h1:before {
    right: 0.5em;
    margin-left: -50%;
}

h1:after {
    left: 0.5em;
    margin-right: -50%;
}