* {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}


#widget {
    bottom: 0;
    left: 0;
    position: fixed;
    padding: 15px;
    /* padding-top: 25px;
    padding-bottom: 25px; */
    font-size: 75px;
    font-weight: 200;
    /* background-color: tomato; */
    width: 350px;
    /* text-align: right; */
}

.parent {
    position: fixed;
    top: 0;
}

#left {
    left: 0;
    height: 100%;
    width: 375px;
}

#right {
    background: #9AACC0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 0;
    height: 100%;
    width: calc(100% - 375px);
    -webkit-box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: inset 1px 0px 5px 0px rgba(0,0,0,0.5);
}

#greeting {
    width: 100%;
    padding: 15px;
    font-size: 30px;
}